@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
    background: #161815 ;
}

.section-padding{
    padding: 70px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 200px;
    z-index: 3;

}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 30, 82, 0.327);
    z-index: 1;
}

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;

}

.nabvar-light .navbar-brand:focus, .navbar-light .nav-branda:hover{
    color: #000;

}

.w-100{
    height: 100vh;
}
.navbar.toggler{
    padding: 1px 5 px;
    font-size: 18px;
    line-height: 0.3;
}
.servicios .card-body i{
    font-size: 50px;
}

@media screen and (min-width: 768px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-item{
        height: 70vh;
    }
    .w-100{
        height: 70vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .about-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 15px;
    }
    .section-padding{
        padding: 50px 0;
    }
    footer {
        background-color: #343a40;
        color: #ffffff;
        padding: 30px 0;
    }
    .footer-logo {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
    }
    .social-icons a, .copyright-text {
        color: #ffffff;
        margin-right: 15px;
        font-size: 18px;
    }
    .social-icons a:hover {
        color: #adb5bd;
    }


}
@media screen and (min-width: 1024px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-item{
        height: 70vh;
    }
    .w-100{
        height: 70vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .about-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 100%;
    }
    .section-padding{
        padding: 50px 0;
    }
    footer {
        background-color: #343a40;
        color: #ffffff;
        padding: 30px 0;
    }
    .footer-logo {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
    }
    .social-icons a, .copyright-text {
        color: #ffffff;
        margin-right: 15px;
        font-size: 18px;
    }
    .social-icons a:hover {
        color: #adb5bd;
    }
}


   


                  